@page{
    margin: 0px;
    padding: 0px;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.hoja{
    height: 816px;
    width: 1056px;
    position: absolute;
}
.hoja img{
    width: 100%;
}
.codigoQr{
    margin-top: 213px;
    margin-left: 445px;;
    position: absolute;
    width: 165px;
    height: 165px;
}
.codigoQr img{
    width: 100%;
}
.nomInvitado{
    position: absolute;
    width: 910px;
    margin-top: 518px;
    margin-left: 75px;
    text-align: center;
    color: #fff;
}